body {
    font-family: Arial, sans-serif;
  }
  
  .text-center {
    color: white;
  }
  .col {
    text-align: center;
    margin: 0 auto;
}
  #products .row {
    justify-content: center;
  }
  
  #products .card {
    margin: 20px 0;
    width: 100%;
    max-width: 540px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  #products .card img {
    border-bottom: 1px solid #ddd;
    max-width: 100%;
    height: auto;
  }
  
  #products .card-body {
    padding: 20px;
    text-align: center;
  }
  
  #products .btn {
    margin-top: 10px;
  }
  
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
  }
  

  .modal-content {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    color: #333;
  }
  
  .list-group-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
  }